{% extends "learning_logs/base.html" %}

{% block content %}
<div class="bg-body-tertiary p-5 rounded">
    <h1>Learning Log</h1>
    <p class="lead">Веб-застосунок, за допомогою якого користувач зможе вести журнал опанованих тем в процесі навчання, додавати нотатки до журналу під час вивчення будь-якої теми. Головна сторінка Learning Log містить опис сайту та запрошує користувача зареєструватися або ввести свої облікові дані. Після успішного входу користувач отримує можливість створювати нотатки (нові записи), відкривати та редагувати існуючі нотатки.</p>
    <a class="btn btn-lg btn-primary" href="{% url 'learning_logs:topics' %}" role="button">Відкрити теми</a>
</div>
{% endblock content %}
