{% extends "learning_logs/base.html" %}

{% block content %}
    <p>Тема: {{ topic }}</p>

    <p>Нотатки:</p>
    <p><a href="{% url 'learning_logs:new_entry' topic.id %}">Додати нову</a></p>
    <ul>
        {% for entry in entries %}
            <li>
                <p>{{ entry.date_added|date:'d.m.Y H:i' }}</p>
                <p>{{ entry.text|linebreaks }}</p>
            </li>
        {% empty %}
            <li>Відсутні нотатки за темою.</li>
        {% endfor %}
    </ul>
{% endblock content %}
